.order {
  background-color: #ffffff !important;
  color: black !important;
  text-align: center;
  padding: 32px;
  margin-bottom: 32px;
  font-weight: bold;
}

.orderIngredient {
  text-align: left !important;
}
